.form-padding{
    padding-left: 3%; 
}

.form-headers{
    color: white;
    background-color: #240370;
    padding: 8px;
    padding-right: inherit;
    padding-left: inherit;
    margin-left: -1rem;
    margin-right: -1rem;
    box-shadow: 0 0px 8px rgb(0 0 0 / 25%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.form-header{
    text-align: center;
    margin: 1rem auto;
    padding-top: 2rem
}

.form-width{
    margin: 2rem auto;
    max-width: 43rem;
    margin-bottom: 0px;
    margin-top: 1px
}

